<template>
  <div>
    <!-- <City :city="{a: 5}" /> -->
    <div class="row">
      <City :city="data[switcher][0]" class="row-item" />
      <City :city="data[switcher][1]" class="row-item" />
      <City :city="data[switcher][2]" class="row-item" />
      <City :city="data[switcher][3]" class="row-item" />
    </div>
    <div class="button">
      <button @click="change" type="button" class="btn btn-outline-secondary">Aktuální varianta: {{ variant }}</button>
    </div>
  </div>
</template>

<script setup>
import data from '@/assets/data.json'
import { ref, computed } from 'vue'
import City from '@/components/City.vue'

const switcher = ref(0)

function change() {
  if (switcher.value == 0) switcher.value = 1
  else switcher.value = 0
}

const variant = computed(() => {
  if (switcher.value == 0) return "skoro sečteno / sečteno"
  else return "první polovina sčítání"
})

</script>

<style scoped>
.row {
  display: flex;
  flex-wrap: wrap;
}
.row-item {
  flex: 50%;
}
.button {
  padding-top: 10px;
}
</style>