<template>
  <div class="card">
  <h3>Praha</h3>
  <div class="counted">sečteno ~<strong>63 %</strong> hlasů</div>
  <h4>Predikce:</h4>
  <div class="bar">
    <div class="bar-block bg-color--ods" style="width:calc((1400% / 65) - 1px)">&nbsp;</div>
    <div class="bar-block bg-color--pirati" style="width:calc((1300% / 65) - 1px)">&nbsp;</div>
    <div class="bar-block bg-color--ps" style="width:calc((1300% / 65) - 1px)">&nbsp;</div>
    <div class="bar-block bg-color--top09" style="width:calc((1300% / 65) - 1px)">&nbsp;</div>
    <div class="bar-block bg-color--ano" style="width:calc((600% / 65) - 1px)">&nbsp;</div>
    <div class="bar-block bg-color--undecided" style="width:calc((600% / 65) - 1px)"><div class="undecided">?</div></div>
  </div>
  <div class="bar bar-numbers">
    <div class="bar-block" style="width:calc((1400% / 65) - 1px)">14</div>
    <div class="bar-block" style="width:calc((1300% / 65) - 1px)">13</div>
    <div class="bar-block" style="width:calc((1300% / 65) - 1px)">13</div>
    <div class="bar-block" style="width:calc((1300% / 65) - 1px)">13</div>
    <div class="bar-block" style="width:calc((600% / 65) - 1px)">6</div>
    <div class="bar-block" style="width:calc((600% / 65) - 1px)"><div class="undecided">6</div></div>
  </div>
  <div class="bar bar-text">
    <div class="bar-block" style="width:calc((1400% / 65) - 1px)">ODS</div>
    <div class="bar-block" style="width:calc((1300% / 65) - 1px)">Piráti</div>
    <div class="bar-block" style="width:calc((1300% / 65) - 1px)">Praha s..</div>
    <div class="bar-block" style="width:calc((1300% / 65) - 1px)">TOP 09..</div>
    <div class="bar-block" style="width:calc((600% / 65) - 1px)">ANO</div>
    <div class="bar-block" style="width:calc((600% / 65) - 1px)"><div class="undecided">??</div></div>
  </div>

  <div class="help-text updated">aktualizováno 15:51</div>


</div>
</template>

<style scoped>
.card {
  max-width: 320px;
  border: 1px solid lightgray;
  padding: 5px;
}
.help-text {
  font-size: 0.8em;
  color: #999;
}
.counted {
  font-size: 0.9em;
  color: #666;
}
.bar {
  width: 100%;
  /* margin-bottom: 12px; */
  /* min-height: 42px; */
  min-width: 200px;
  /* border: 1px solid lightgray; */
}
.bar-numbers {
  position: relative;
  left: -2px;
  top: -0.35em;
  font-weight: bold;
}
.bar-text {
  position: relative;
  left: -2px;
  top: -0.8em;
  font-weight: bold;
  font-size: 0.75em;
}
.bar-block {
  display: inline-block;
  margin-right: 1px;
}
.bg-color--ods {
  background-color: #0079b7;
}
.bg-color--pirati {
  background-color: #222;
}
.bg-color--ps {
  background-color: #f5dc00;
}
.bg-color--top09 {
  background-color: darkmagenta;
}
.bg-color--ano {
  background-color: violet;
}
.bg-color--undecided {
  background-color: white;
  border: 1px solid lightgray;
}
.undecided {
  display: flex;
  place-items: center;
}
</style>

ODS 14
Piráti 13
Praha sobě 13
TOP 09 + STAN 13
ANO 12