<template>
  <div class="card">
    <div v-if="props.city.final" class="color-line" :class="partyClass(props.city.results[0])">
    </div>
    <div v-else class="color-line"></div>

    <h3>{{ props.city.municipality }}</h3>
    <div class="counted">sečteno ~<strong>{{ props.city.counted }} %</strong> hlasů</div>

    <h4 v-if="props.city.final">Konečný výsledek:</h4>
    <h4 v-else>Predikce:</h4>

    <div class="bar">
      <span v-for="(party, index) in props.city.results" :key="index">
        <div class="bar-block bg-color--default" :class="partyClass(party)" :style="partyWidth(party)">
          <span v-if="(party.abbreviation=='unknown')">?</span>
          <span v-else>&nbsp;</span>
        </div>
      </span>
    </div>

    <div class="bar bar-numbers">
      <span v-for="(party, index) in props.city.results" :key="index">
        <div class="bar-block" :style="partyWidth(party)">{{ party.value }}</div>
      </span>
    </div>

    <div class="bar bar-text">
      <span v-for="(party, index) in props.city.results" :key="index">
        <div class="bar-block" :style="partyWidth(party)">{{ partyShort(party) }}</div>
      </span>
    </div>

    <div class="help-text updated">aktualizováno {{ props.city.last_updated }}</div>

    
  </div>
</template>

<script setup>
  import { computed } from 'vue';
  const props = defineProps(['city'])

  const partyClass = function (party) {
    return 'bg-color--'  + party.code
  }
  const partyWidth = function (party) {
    // console.log("width:calc(" + party.value + " * 100% / " + props.city.n + " - 1px)")
    return "width:calc(" + party.value + " * 100% / " + props.city.n + " - 1px)"
  }
  const partyShort = function (party) {
    if (party.abbreviation.length > (party.value / 0.6)) {
      return party.abbreviation.substr(0, party.value / 0.6 - 1) + ".."
    } else {
      return party.abbreviation
    }
  } 

</script>


<style scoped>
.card {
  width: 320px;
  border: 1px solid lightgray;
  padding: 0 5px 5px 5px;
  margin: 1px;
}
.color-line {
  height: 5px;
  width: 100%;
  padding-bottom: 0px;
}
.help-text {
  font-size: 0.8em;
  color: #999;
}
.counted {
  font-size: 0.9em;
  color: #666;
}
.bar {
  width: 100%;
  /* margin-bottom: 12px; */
  /* min-height: 42px; */
  min-width: 200px;
  /* border: 1px solid lightgray; */
}
.bar-numbers {
  position: relative;
  left: -2px;
  top: -0.35em;
  font-weight: bold;
}
.bar-text {
  position: relative;
  left: -2px;
  top: -0.8em;
  font-weight: bold;
  font-size: 0.75em;
}
.bar-block {
  display: inline-block;
  margin-right: 1px;
}
.bg-color--default {
background-color: darkgray;
}
.bg-color--ods {
  background-color: #0079b7;
}
.bg-color--pirati {
  background-color: #222;
}
.bg-color--praha-sobe, .bg-color--kdu-csl {
  background-color: #f5dc00;
}
.bg-color--top-09, .bg-color--stan {
  background-color: darkmagenta;
}
.bg-color--ano {
  background-color: violet;
}
.bg-color--unknown {
  background-color: white;
  border: 1px solid lightgray;
}
</style>