<template>
  <wrapper>
    <div class="input-group my-search">
      <input type="search" class="form-control rounded" placeholder="Najít obec (jen design)" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">Hledat</button>
    </div>

    <Cities />
  </wrapper>
</template>

<script setup>

import Cities from './components/Cities.vue'

</script>


<style>
@import './assets/base.css';

#app {
  max-width: 660px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.my-search {
  padding-bottom: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }
} */
</style>
